@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
   
}

.forms h1{
    font-size: 30px;
    text-align: center;
    color: black;
}

.input-box{
    position: relative;
    width: 1005;
    height: 50px;
    margin: 30px 0;
}

.forms{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    column-rule: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.radio-box{
    color: black;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 0 15px
}

.btn{
    width: 100%;
    height: 100%;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
    height: 40px;
}

.btn:hover{
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}